#a4 {
    text-align: center;
    padding-top: 100px;
}

body {
    background-image: url("d56912e297cf3a797d5d5c728a23fda9.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 120%;
}